@mixin ani_dropdown_open ( $hegiht , $dur) {
    
    $text : unquote("box_hover_#{$hegiht}");
    // $px : unquote("#{$hegiht}px");
    // $text : "box_dis_"+#{$hegiht};
    
    @keyframes #{$text} {
        0%{
            height: 0px;
        }
        100%{
            height: #{$hegiht};
        }
    }
    animation: #{$text} #{$dur};
    height: #{$hegiht};

    @content;
}

@mixin ani_dropdown_close ( $hegiht , $dur) {
    
    $text : unquote("box_dis_#{$hegiht}");
    // $px : unquote("#{$hegiht}px");
    // $text : "box_dis_"+#{$hegiht};
    
    @keyframes #{$text} {
        0%{
            height:#{$hegiht};
        }
        100%{
            height: 0px;
        }
    //     0%{
    //         height: 100px;
    //     }
    //     100%{
    //         height: 0px;
    //     }
    }
    animation: #{$text} #{$dur};
    height: 0px;

    @content;
}


// 메뉴 about 화살표 표시
@mixin arrow($deg) {
    
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 3px;
    border: 1px solid red;
    border-width: 1px 0 0 1px;
    transform: rotate(#{$deg});

    // 반전
    // transform: rotate(-135deg);

    


    @content;
}
// 플렉스 고정
@mixin flex_fixd_height($per) {
    flex: 0 0 #{$per};
    max-height: #{$per};
    width: 100%;
}

@mixin flex_fixd_width($per) {
    flex: 0 0 #{$per};
    max-width: #{$per};
    height: 100%;
}


@keyframes menu_teb_active{
    0%{
        transform: translateX(12rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes ani_shop{
    0%{
     color: white;
     background-color: red;
     content: "Kellogg`s Shop";
    }
    50%{
        color: white;
        background-color: red;
        content: "Kellogg`s Shop";
    }
    51%{
    color: red;
    background-color: white;
    content: "켈로그 샵";
    }

    100%{
    color: red;
    background-color: white;
    content: "켈로그 샵";
    }
}