@charset "UTF-8";
@-webkit-keyframes menu_teb_active {
  0% {
    -webkit-transform: translateX(12rem);
            transform: translateX(12rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes menu_teb_active {
  0% {
    -webkit-transform: translateX(12rem);
            transform: translateX(12rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes ani_shop {
  0% {
    color: white;
    background-color: red;
    content: "Kellogg`s Shop";
  }
  50% {
    color: white;
    background-color: red;
    content: "Kellogg`s Shop";
  }
  51% {
    color: red;
    background-color: white;
    content: "켈로그 샵";
  }
  100% {
    color: red;
    background-color: white;
    content: "켈로그 샵";
  }
}

@keyframes ani_shop {
  0% {
    color: white;
    background-color: red;
    content: "Kellogg`s Shop";
  }
  50% {
    color: white;
    background-color: red;
    content: "Kellogg`s Shop";
  }
  51% {
    color: red;
    background-color: white;
    content: "켈로그 샵";
  }
  100% {
    color: red;
    background-color: white;
    content: "켈로그 샵";
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 0px) and (max-width: 600px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1180px) {
  html {
    /* 타블렛PC */
    font-size: 24px;
  }
}

@media (min-width: 1180px) {
  html {
    font-size: 28px;
  }
}

body {
  position: relative;
  font-family: 'Pathway Gothic One', sans-serif;
}

a,
ul {
  padding: 0;
  text-decoration: none;
  color: black;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.6);
  display: block;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10000;
}

main {
  margin-top: 3rem;
  height: 100%;
}

footer {
  background-color: #d20b2f;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav_cotnet {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_cotnet .brand {
  width: 4rem;
  height: 2.5rem;
}

.nav_cotnet .brand img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.nav_cotnet .menu_teb {
  width: 14rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: pink;
  padding-top: 3rem;
  z-index: 999;
}

.nav_cotnet .menu_teb .links {
  font-size: 1rem;
  list-style: none;
}

.nav_cotnet .menu_teb .links li {
  padding: 0.3rem;
  padding-left: 0.8rem;
}

.nav_cotnet .menu_teb .links .menu_about {
  cursor: pointer;
}

.nav_cotnet .menu_teb .links .menu_about span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 3px;
  border: 1px solid red;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav_cotnet .menu_teb .links .menu_about .about_links {
  height: 0px;
  background-color: palegoldenrod;
  list-style: none;
  margin-top: 0.5rem;
  margin-left: -0.8rem;
  overflow: hidden;
}

.nav_cotnet .menu_teb .links .menu_about .about_links li {
  font-size: 0.8rem;
  padding: 8px;
}

.nav_cotnet .menu_teb .links .menu_about[data-ani_click="on"] .about_links {
  -webkit-animation: box_hover_10rem 500ms;
          animation: box_hover_10rem 500ms;
  height: 10rem;
}

@-webkit-keyframes box_hover_10rem {
  0% {
    height: 0px;
  }
  100% {
    height: 10rem;
  }
}

@keyframes box_hover_10rem {
  0% {
    height: 0px;
  }
  100% {
    height: 10rem;
  }
}

.nav_cotnet .menu_teb .links .menu_about[data-ani_click="on"] span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 3px;
  border: 1px solid red;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav_cotnet .menu_teb .links .menu_about[data-ani_click="off"] .about_links {
  -webkit-animation: box_dis_10rem 500ms;
          animation: box_dis_10rem 500ms;
  height: 0px;
}

@-webkit-keyframes box_dis_10rem {
  0% {
    height: 10rem;
  }
  100% {
    height: 0px;
  }
}

@keyframes box_dis_10rem {
  0% {
    height: 10rem;
  }
  100% {
    height: 0px;
  }
}

.nav_cotnet .menu_teb .close_btn {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.nav_cotnet .menu_tog {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav_cotnet .menu_tog.active::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
}

@media (min-width: 0px) and (max-width: 1180px) {
  .nav_cotnet .menu_teb {
    display: none;
  }
  .nav_cotnet .menu_teb.active {
    display: block;
    -webkit-animation: menu_teb_active 500ms;
            animation: menu_teb_active 500ms;
  }
  .nav_cotnet .menu_teb .links {
    height: calc(100vh - 8rem);
    max-height: calc(100vh - 8rem);
    overflow: scroll;
  }
  .nav_cotnet .menu_teb_footer {
    height: 5rem;
    max-height: 5rem;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  .nav_cotnet .menu_teb_footer .sns_link a {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
  }
  .nav_cotnet .menu_teb_footer .sns_link a:nth-child(1) {
    color: red;
  }
  .nav_cotnet .menu_teb_footer .sns_link a:nth-child(2) {
    color: paleturquoise;
  }
  .nav_cotnet .menu_teb_footer .sns_link a:nth-child(3) {
    color: green;
  }
  .nav_cotnet .menu_teb_footer .lang {
    width: 80%;
    margin-top: 1rem;
  }
}

@media (min-width: 1180px) {
  .nav_cotnet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
  }
  .nav_cotnet .menu_teb {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .nav_cotnet .menu_teb .links {
    height: 100%;
    max-height: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    float: right;
    padding: 0 10px;
  }
  .nav_cotnet .menu_teb .links li {
    padding: 1rem 0;
    margin-left: 1.8rem;
    font-size: 0.9rem;
  }
  .nav_cotnet .menu_teb .links .menu_about[data-ani_hover="over"] .about_links {
    -webkit-animation: box_hover_7rem 500ms;
            animation: box_hover_7rem 500ms;
    height: 7rem;
  }
  @-webkit-keyframes box_hover_7rem {
    0% {
      height: 0px;
    }
    100% {
      height: 7rem;
    }
  }
  @keyframes box_hover_7rem {
    0% {
      height: 0px;
    }
    100% {
      height: 7rem;
    }
  }
  .nav_cotnet .menu_teb .links .menu_about[data-ani_hover="over"] span {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 3px;
    border: 1px solid red;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .nav_cotnet .menu_teb .links .menu_about[data-ani_hover="out"] .about_links {
    -webkit-animation: box_dis_7rem 500ms;
            animation: box_dis_7rem 500ms;
    height: 0px;
  }
  @-webkit-keyframes box_dis_7rem {
    0% {
      height: 7rem;
    }
    100% {
      height: 0px;
    }
  }
  @keyframes box_dis_7rem {
    0% {
      height: 7rem;
    }
    100% {
      height: 0px;
    }
  }
  .nav_cotnet .menu_teb .links .menu_about .about_links {
    height: 0;
    background-color: white;
    opacity: .8;
    padding-top: 10px;
  }
  .nav_cotnet .menu_teb .links .menu_about .about_links li {
    font-size: 0.6rem;
    margin-left: 0;
  }
  .nav_cotnet .menu_teb .links .shop {
    width: 4rem;
    text-align: center;
    padding: 0;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border: 1px solid red;
  }
  .nav_cotnet .menu_teb .links .shop span {
    display: none;
  }
  .nav_cotnet .menu_teb .links .shop a::after {
    -webkit-animation: ani_shop 2000ms steps(1, end) infinite;
            animation: ani_shop 2000ms steps(1, end) infinite;
    content: "adad";
    display: block;
    width: 100%;
    height: 1.72222em;
    font-size: 0.6rem;
    padding-top: 0.5em;
  }
  .nav_cotnet .menu_teb .menu_teb_footer {
    display: none;
  }
  .nav_cotnet .menu_teb .close_btn {
    display: none;
  }
  .nav_cotnet .menu_tog {
    display: none;
  }
}

.main_benner {
  width: 100%;
  height: 73vw;
  max-height: 820px;
  max-width: 1920px;
  margin: 0 auto;
}

.main_benner .swiper-container.top_slide {
  width: 100%;
  height: 100%;
}

.main_benner .swiper-container.top_slide .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.main_benner .swiper-container.top_slide .swiper-wrapper .swiper-slide a img {
  width: 130%;
  background-position: center;
  background-size: contain;
}

.main_benner .swiper-container.top_slide .swiper-button-next {
  right: 20px;
  width: 30px;
  height: 40px;
  background: url("./images/arrow-right.svg") center/cover no-repeat;
}

.main_benner .swiper-container.top_slide .swiper-button-next::after {
  content: " ";
}

.main_benner .swiper-container.top_slide .swiper-button-prev {
  left: 20px;
  width: 30px;
  height: 40px;
  background: url("./images/arrow-left.svg") center/cover no-repeat;
}

.main_benner .swiper-container.top_slide .swiper-button-prev::after {
  content: " ";
}

.sub_banner {
  width: 95%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  height: 40vw;
  max-height: 10rem;
  background-color: white;
  z-index: 10;
  border-radius: 2.5rem 0 2.5rem 0;
  -webkit-box-shadow: 10px 7px 5px 0px rgba(107, 105, 105, 0.38);
          box-shadow: 10px 7px 5px 0px rgba(107, 105, 105, 0.38);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub_banner .sub_banner_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.sub_banner .sub_banner_top button {
  margin-right: 1rem;
}

.sub_banner .sub_banner_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub_banner .sub_banner_content a {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  height: 90%;
}

.sub_banner .sub_banner_content a:nth-child(1) {
  background: url("./images/제품1.jpg") center/cover no-repeat;
}

.sub_banner .sub_banner_content a:nth-child(2) {
  background: url("./images/제품2.jpg") center/cover no-repeat;
}

.sub_banner .sub_banner_content a:nth-child(3) {
  background: url("./images/제품3.jpg") center/cover no-repeat;
}

.sub_banner .sub_banner_content a:nth-child(4) {
  background: url("./images/제품4.jpg") center/cover no-repeat;
}

@media (min-width: 0px) and (max-width: 600px) {
  .sub_banner {
    display: block;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sub_banner .sub_banner_top {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .sub_banner .sub_banner_content {
    height: 100%;
    margin-top: 0.5rem;
  }
  .sub_banner .sub_banner_content a {
    height: 80%;
  }
}

.product_desc {
  background-color: yellow;
  margin: 0 auto;
  width: 95%;
  margin-top: -4rem;
}

.product_desc .swiper_product {
  margin-top: 1rem;
  height: 100%;
  color: #2b292d;
  font-size: 1rem;
  font-weight: bold;
}

.product_desc .swiper_product .swiper-wrapper {
  height: 100%;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_img {
  width: 100%;
  background-size: auto;
  background-position: left;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info {
  width: 100%;
  background-color: #fff8f5;
  padding: 1.5rem;
  position: relative;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dsc_img {
  background-size: cover;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info p {
  margin-top: 1rem;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info button {
  margin-top: 1rem;
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background: url("./images/더보기.jpg") left/contain no-repeat;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div {
  width: 105px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2rem;
  text-align: center;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div img {
  padding: 5px 20px;
}

.product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div p {
  width: 100%;
  height: 50px;
  margin-top: 1rem;
  background-color: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.product_desc .swiper_product .swiper-button-next,
.product_desc .swiper_product .swiper-button-prev {
  top: 30%;
}

@media (min-width: 0px) and (max-width: 600px) {
  .product_desc {
    margin-top: 0;
    width: 100%;
    height: calc((100vw/1.5) + 400px);
  }
  .product_desc .swiper_product {
    margin-top: 0;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_img {
    height: 66.66667vw;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info {
    height: 400px;
    max-height: 400px;
  }
  .product_desc .swiper_product .swiper-button-next,
  .product_desc .swiper_product .swiper-button-prev {
    top: 25%;
  }
}

@media (min-width: 601px) and (max-width: 1180px) {
  .product_desc {
    /* 타블렛PC */
    height: calc((80vw/1.5) + 550px);
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_img {
    height: 53.33333vw;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info {
    height: 550px;
    max-height: 550px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dsc_img {
    height: 60px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info p {
    font-size: 24px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .product_more {
    height: 60px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec {
    height: 200px;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div {
    margin: 0;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div p {
    height: 70px;
    margin-top: 12px;
  }
  .product_desc .swiper_product .swiper-button-next,
  .product_desc .swiper_product .swiper-button-prev {
    top: 20%;
  }
}

@media (min-width: 1180px) {
  .product_desc {
    height: 600px;
  }
  .product_desc .swiper_product {
    font-size: 0.8rem;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dsc_img {
    height: 60px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .product_more {
    height: 40px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info p {
    font-size: 1.2rem;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div {
    margin-left: 0;
  }
  .product_desc .swiper_product .swiper-wrapper .swiper-slide .product_info .info_dec div p {
    font-size: 0.7rem;
  }
  .product_desc .swiper_product .swiper-button-next,
  .product_desc .swiper_product .swiper-button-prev {
    top: 50%;
  }
}

.sec_info {
  margin-top: 0.5rem;
}

.sec_info ul {
  list-style: none;
  position: relative;
}

.sec_info ul li {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.sec_info ul li:nth-child(1) {
  background-image: url("./images/영양정보1.jpg");
}

.sec_info ul li:nth-child(1) a {
  background: url("./images/정보1.jpg") no-repeat center/cover;
}

.sec_info ul li:nth-child(2) {
  background-image: url("./images/영양정보2.jpg");
}

.sec_info ul li:nth-child(2) a {
  background: url("./images/정보2.jpg") no-repeat center/cover;
}

.sec_info ul li:nth-child(3) {
  background-image: url("./images/영양정보3.jpg");
}

.sec_info ul li:nth-child(3) a {
  background: url("./images/정보3.jpg") no-repeat center/cover;
}

.sec_info ul li:nth-child(4) {
  background-image: url("./images/영양정보4.jpg");
}

.sec_info ul li:nth-child(4) a {
  background: url("./images/정보4.jpg") no-repeat center/cover;
}

.sec_info ul li a {
  display: block;
  position: relative;
  z-index: 2;
}

.sec_info ul li a span {
  color: white;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec_info ul li a span button {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.sec_info ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: 1;
  background-color: black;
}

@media (min-width: 0px) and (max-width: 600px) {
  .sec_info {
    margin-top: 0;
    background-color: black;
  }
  .sec_info ul li {
    height: 180px;
    text-align: left;
  }
  .sec_info ul li a {
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    background: none !important;
  }
}

@media (min-width: 601px) and (max-width: 1180px) {
  .sec_info {
    /* 타블렛PC */
  }
  .sec_info ul li {
    height: 300px;
    padding: 25px;
  }
  .sec_info ul li a {
    width: 250px;
    height: 250px;
    background-color: wheat;
    margin: 0 auto;
    border-radius: 50%;
  }
  .sec_info ul li a span {
    top: 50px;
    left: 0px;
  }
}

@media (min-width: 1180px) {
  .sec_info {
    padding: 1rem;
  }
  .sec_info ul {
    background: url("./images/chicago-690364_1920.jpg") center/cover no-repeat;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec_info ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    background-size: 0%;
  }
  .sec_info ul li a {
    width: 150px;
    height: 150px;
    padding: 25px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 0.6rem;
  }
  .sec_info ul li a span {
    position: absolute;
    left: 0px;
    top: 160px;
    color: black;
  }
  .sec_info ul li a span button {
    color: black;
  }
  .sec_info ul li:hover {
    background-position: 15%;
    background-size: cover;
  }
  .sec_info ul li:hover a {
    width: 250px;
    height: 250px;
  }
  .sec_info ul li:hover a span {
    position: relative;
    left: 0px;
    top: 5px;
    color: white;
  }
  .sec_info ul li:hover a span button {
    color: white;
  }
  .sec_info ul li::before {
    display: none;
  }
}

.promotion {
  margin-top: 0.5rem;
  padding: 1rem;
}

.promotion .pm_banner {
  width: 100%;
  height: 4.2rem;
  background-color: #d20b2f;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.promotion .pm_banner .banner_line .banner_logo {
  width: 100px;
  height: 50px;
  background: url("./images/banner_logo.jpg") no-repeat center;
  position: absolute;
  top: -5px;
  left: calc( 50% - 50px);
  z-index: 1;
}

.promotion .pm_banner .banner_line::before {
  content: "";
  display: block;
  border-top: 1px solid white;
  width: 90%;
  position: relative;
  top: 15px;
  margin: 0 auto;
}

.promotion .pm_banner .banner_line::after {
  content: "";
  display: block;
  border-top: 1px solid white;
  width: 90%;
  position: relative;
  top: -68px;
  margin: 0 auto;
}

.promotion .pm_banner .banner_line em {
  display: block;
  font-size: 40px;
  margin-top: 40px;
  color: white;
}

@media (min-width: 0px) and (max-width: 600px) {
  .promotion .pm_banner .banner_line::after {
    top: -58px;
  }
  .promotion .pm_banner .banner_line em {
    font-size: 30px;
  }
}

.promotion .pm {
  width: 100%;
  height: 80vw;
}

.promotion .pm .pm_video {
  width: 100%;
  height: 50vw;
  background-color: yellow;
  margin-top: 0.5rem;
}

.promotion .pm .pm_banners {
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promotion .pm .pm_banners .banner {
  width: 33.3333%;
  max-width: 33.33%;
  margin: 0.4rem 0.2rem;
  background-color: paleturquoise;
}

.promotion .pm .pm_banners .banner:nth-child(1) {
  background: url("./images/배너1.jpg") top/cover no-repeat;
}

.promotion .pm .pm_banners .banner:nth-child(2) {
  background: url("./images/배너2.jpg") top/cover no-repeat;
}

.promotion .pm .pm_banners .banner:nth-child(3) {
  background: url("./images/배너3.jpg") top/cover no-repeat;
}

.promotion .pm .pm_banners .banner:nth-child(4) {
  background: url("./images/배너4.jpg") top/cover no-repeat;
}

.promotion .pm .pm_banners .banner:nth-last-child(1) {
  display: none;
}

@media (min-width: 1180px) {
  .promotion .pm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 460px;
  }
  .promotion .pm .pm_video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    height: 100%;
    display: inline-block;
    margin: 0.4rem 0.2rem;
  }
  .promotion .pm .pm_banners {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    height: 100%;
    margin-top: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .promotion .pm .pm_banners .banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 210px;
    height: 220px;
  }
  .promotion .pm .pm_banners .banner:nth-last-child(1) {
    display: block;
  }
}

.up_arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 80;
  border-radius: 50%;
  -webkit-box-shadow: 0 15px 20px 0 rgba(113, 94, 97, 0.15);
          box-shadow: 0 15px 20px 0 rgba(113, 94, 97, 0.15);
}

.footer_content {
  color: white;
}

.footer_content .footer_hide_content {
  width: 100%;
  height: 80px;
  background-color: #d20b2f;
  padding: 4px 15px;
  font-size: 16px;
  display: none;
}

.footer_content .footer_hide_content p a {
  color: white;
  cursor: pointer;
}

.footer_content .footer_hide_content p span {
  margin-left: 8px;
  margin-right: 8px;
}

.footer_content .footer_hide_content.active {
  display: block;
}

.footer_content .footer_hide_content::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: white;
}

.footer_content .footer_show_content {
  width: 100%;
  height: 60px;
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 2rem;
  padding-right: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_content .footer_show_content .brand {
  width: 50px;
  height: 50px;
  background: url("./images/나미.jpg") no-repeat center/cover;
}

@media (min-width: 0px) and (max-width: 600px) {
  .footer_content .footer_show_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_content .footer_show_content .brand {
    display: none;
  }
  .footer_content .footer_show_content .sns {
    display: none;
  }
}

@media (min-width: 1180px) {
  .footer_content .footer_show_content {
    height: 70px;
  }
}

.footer_content .show_btn {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: white;
}
