

$screen-mobile : 760px;
$screen-tablet : 1200px;
$screen-pc : 1600px;

$max-width : 1200px;

$navbar-mo-height : 50px;
$navbar-ta-height : 80px;
$navbar-dt-height : 100px;


@mixin mobile {
    @media (min-width : 0) and (max-width : $screen-mobile){
        @content;
    }
}

@mixin mobile_up{
    @media (min-width : $screen-mobile){
        @content;
    }   
}

@mixin tablet{
    @media (min-width : $screen-mobile) and (max-width : $screen-tablet){
        
        @content;
    }
}

@mixin desktop_down {
    @media (min-width : 0) and (max-width : $screen-tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-width : $screen-tablet) {
        
        @content;
    }
}

@mixin arrow {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: red;
    transform: rotate(-45deg);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // margin: 0 auto;
}
button , a{
    all: unset;
}

a,button{
    cursor: pointer;
    color: black;
}

.container{
    max-width: $max-width;
    margin: 0 auto;
    background-color: pink;
}
// 네비바
.navbar{
    // 기본
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: $navbar-mo-height;
    justify-content: space-between;
    padding: 10px;

    .nav_menu_items{
        display: none;
        &.active{
            display: flex;
        }

        .menu_item{
            list-style: none;
            margin-left: 20px;
        }
        .menu_about{

            .about_drop{
                display: none;
                list-style: none;
                width: 100%;
                margin-left: -20px;
                padding-left: 20px;
                padding-top: 2px;
                background-color: wheat;
                
                li{
                    margin-top: 5px;
                    font-size: 16px;
                }
            }
        }
        .nav_sns{
            display: none;
        }
       
    }

    .nav_toogle{
        display: block;
        &.active {
            .bg_balck {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: black;
                opacity: 0.8;
            }
        }
    }

    .nav_footer{
        display: none;
    }
    .menu_button{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        // background-color: violet;
        font-size: 30px;
        text-align: center;
        line-height: 15px;
    }

  
 
    @include desktop_down(){
        .nav_menu_items {
            // 모바일 설정  
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: pink;
            opacity: 1;
            padding-top: 100px;
            flex-direction: column;

            font-size: 20px;
           
            .menu_item {
                margin-top: 10px;            
            }
            .menu_about{
                span{
                    @include arrow();
                }
            }

            .nav_footer{
                display: block;
                width: 100%;
                position: absolute;
                left: 10px;
                bottom: 10px;
                height: 100px;
                .nav_sns{
                    display: flex;
                    list-style: none;

                    li{
                        width: 40px;
                        height: 40px;
                        margin-left: 10px;
                        text-align: center;
                        font-size: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: transparent;
                        // border: 1px solid blue;

                        i{
                            transform: translateY(-10px);
                        }
                    }
                }
                .lang{
                    width: 100%;
                    select{
                        width: 90%;
                        height: 25px;
                        border: 2px solid black;
                    }
                }
            }
        }

        .menu_button {
            display: block;
        }
    }

    @include mobile(){
        .nav_menu_items{
            width: 300px;
        }
        .menu_about{
            &.active{
                span {
                    @include arrow();
                    transform: rotate(135deg);
                }

                .about_drop {
                    display: block;
                    width: 300px;
                }
            }
        }
    }

    @include tablet(){
        height: $navbar-ta-height;
        background-color: green;
        // 네비
        .nav_menu_items{   
            width: 400px;
            font-size: 24px;
        }
        .menu_about{
            &.active{
                span {
                    @include arrow();
                    transform: rotate(135deg);
                }

                .about_drop {
                    display: block;
                    width: 400px;
                }
            }          
        }
    }
   

    @include desktop(){
        .nav_menu_items{
            display: flex;
        }
        height: $navbar-dt-height;
        background-color: gold;

        .nav_toogle{
            display: none;
        }
        .nav_menu_items{
            position: relative;
            height: 100%;
            font-size: 18px;

            .menu_item{
                
                .about_drop{
                    margin: 0;
                    padding-left: 5px;
                }
                
            }

            .menu_about:hover .about_drop{
                display: block;
            }
        }
    }
    
}




.box{
    margin-top: $navbar-mo-height;
    width: 500px;
    height: 500px;
    background-color: yellow;

    @include tablet(){
        margin-top: $navbar-ta-height;
    }

    @include desktop(){
        margin-top: $navbar-dt-height;
        }
}
