@import "./animate.scss";


// 컬러
$color-font-black : black;

//  사이즈


// 마진


//  패딩


// 미디어
//모바일
@mixin mobile {
    @media ( min-width:0px) and ( max-width:600px){    
    // @media screen and ( min-width:0px){    
        @content;
    }
}


// 타블렛PC
@mixin tablet {
    @media ( min-width:601px) and ( max-width:1180px){  /* 타블렛PC */
    // @media screen and ( min-width:601px) {  /* 타블렛PC */
        @content;
    }
}

@mixin mobile_table {
    @media (min-width:0px) and (max-width : 1180px){
        @content;
    }
}

// // 노트북
// @mixin notebook {
//     @media (min-width:701px) and (max-width:900px) {
//         @content;
//     }
// }

// 데스크탑
@mixin desktop {
    @media (min-width:1180px){
        @content;
    }
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    // font-size: 28px;

    @include mobile(){
        font-size: 20px;
    }
    @include tablet(){
        font-size: 24px;
    }
    @include desktop(){
        font-size: 28px;
    }
}
body{
    position: relative;

    font-family: 'Pathway Gothic One', sans-serif;
}
a, ul {
    padding: 0;
    text-decoration: none;
    color: $color-font-black;
}


.container{
    max-width: 1200px;
    margin : 0 auto;
}

header{
// position: relative;
background-color: white;
box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.6);
display: block;
width: 100vw;
position: fixed;
top: 0;
z-index: 10000;
}

main{
    margin-top: 3rem;
    background-color: violet;
    height: 200px;
    width: 100vw;
}

//헤더 네비바

.nav_cotnet{
    height: 3rem;
    display: flex;
    justify-content: space-between;

    .brand{
        width: 4rem;
        height: 2.5rem;
        img{
            width: 100%;
            height: 100%;
            padding: 5px;
        }
    }

    .menu_teb{
        width: 14rem;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: pink;
        // padding: 3rem 0;
        padding-top: 3rem;
        z-index: 999;
        .links{
            font-size: 1rem;
            list-style: none;
 
            // padding-left: 0.8rem;

            li{
                padding: 0.3rem;
                padding-left: 0.8rem;
            }

            .menu_about{
                cursor: pointer;
                span{
                    //  화살표 표시
                    @include arrow(45deg);
                    // @include arrow(-135deg);
                }

                .about_links {
                    height: 0px;
                    background-color: palegoldenrod;
                    list-style: none;
                    margin-top: 0.5rem;
                    margin-left: -0.8rem;
                    overflow: hidden;

                    // line-height: 2rem;
                    li {
                        font-size: 0.8rem;
                        padding: 8px;
                    }
                }


                &[data-ani_click="on"]{
                    // height: 10rem;
                    .about_links {
                        @include ani_dropdown_open(10rem, 500ms);
                    }
                    span{
                    @include arrow(-135deg);
                    }
                }
                &[data-ani_click="off"]{
                    // height: 0rem;
                    .about_links {
                        @include ani_dropdown_close(10rem, 500ms);
                    }
                //    
                }
            }
        }
       
        .close_btn{
            position: absolute;
            right: 1.2rem;
            top: 1.2rem;
            font-size: 1rem;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
        } 
    }
    .menu_tog{
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &.active {
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: black;
                opacity: 0.8;
            }
        }
    }
 

    @include mobile_table() {
        .menu_teb {
            display: none;

            &.active{
                display: block;
                animation: menu_teb_active 500ms;
            }

            .links{
                height: calc(100vh - 8rem);
                max-height: calc(100vh - 8rem);
                overflow: scroll;
            }       
        }
        .menu_teb_footer{
            // height: 30%;
            // max-height: 30%;
            height: 5rem;
            max-height: 5rem;
            overflow: hidden;
            padding: 0.5rem;
            position: relative;
            left:0px;
            bottom: 0px;
            .sns_link{
                a{
                    width: 3rem;
                    height: 3rem;
                    margin-left: 0.5rem;
                    &:nth-child(1)
                    {
                        color: red;
                    }
                    &:nth-child(2)
                    {
                        color: paleturquoise;
                    }
                    &:nth-child(3)
                    {
                        color: green;
                    }                
                }
            }

            .lang{
                width: 80%;   
                margin-top: 1rem;
            }
        }

    }
    @include desktop(){
        justify-content: center;
        background-color: white;
        .menu_teb{
            background-color: transparent;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            .links{
                height: 100%;
                max-height: none;
                display: flex;
                flex-direction: row;
                float: right;
                padding: 0 10px;
                // align-items: center;

                li{
                    padding: 1rem 0;
                    margin-left: 1.8rem;
                    font-size: 0.9rem;
                }

                .menu_about {
                    
                    &[data-ani_hover="over"] {
                        .about_links {
                            @include ani_dropdown_open(7rem,500ms);
                        }
                        span{
                            @include arrow(-135deg);
                        }
                    }

                    &[data-ani_hover="out"] {
                        .about_links {
                            @include ani_dropdown_close(7rem,500ms);
                        }
                    }

                    .about_links{
                        height: 0;
                        background-color: white;
                        opacity: .8;
                        padding-top: 10px;
                        li{
                            font-size: 0.6rem;
                            margin-left: 0;
                        }
                    }                
                }
                .shop{
                    width: 4rem;
                    text-align: center;
                    padding: 0;
                    margin-top: 0.8rem;
                    margin-bottom: 0.8rem;
                    border: 1px solid red;
                    span{
                        display: none;
                    }
                    a::after{
                        animation: ani_shop 2000ms steps(1,end) infinite;
                        content: "adad";
                        display: block;
                        width: 100%;
                        height: 1.72222em;
                        font-size: 0.6rem;
                        // background-color: yellow;
                        padding-top: 0.5em;
                    }
                    
                }
                
            }
            .menu_teb_footer{
                display: none;
            }
            .close_btn{
                display: none;
            }
        }
        .menu_tog{
            display: none;
        }
    }

}


// 메인 배너
.main_benner {
    width: 100%;
    height: 73vw;
    max-height: 820px;
    max-width: 1920px;
    margin: 0 auto;
    .swiper-container.top_slide {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            .swiper-slide {
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                  
                    img {
                        width: 130%;
                        background-position: center;
                        background-size: contain;
                       
                    }
                }
            }
        }

        .swiper-button-next {
            right: 20px;
            width: 30px;
            height: 40px;
            background: url("./images/arrow-right.svg") center/cover no-repeat;

            // background-image: none;
            // background-image: url("./images/arrow-right.svg");
            &::after {
                // display: none;
                content: " ";
            }
        }

        .swiper-button-prev {
            left: 20px;
            width: 30px;
            height: 40px;
            background: url("./images/arrow-left.svg") center/cover no-repeat;

            &::after {
                content: " ";
            }

        }
    }
}


// 서브 배너
.sub_banner{
    width: 95%;
    position: relative;
    display: flex;
    padding: 1rem;
    height: 40vw;
    max-height: 10rem;
    background-color: white;
    z-index: 10;
    border-radius: 2.5rem 0 2.5rem 0;
    
    box-shadow: 10px 7px 5px 0px rgba(107, 105, 105, 0.38);
    transform: translateY(-50%);
    .sub_banner_top{
        display: flex;
        height: 20%;
        justify-content: space-between;
        flex: 0 0 20%;
        button{
            margin-right: 1rem;
        }
    }
    .sub_banner_content{
        flex: 0 0 80%;
        margin: 0;
        height: 100%;

        display: flex;
        justify-content: space-between;
        
        a{
            display: block;
            flex: 0 0 25%;
            max-width: 25%;
            width: 100%;
            height:90%;
            
            &:nth-child(1){
                background: url("./images/제품1.jpg") center/cover no-repeat;
            }
        
            &:nth-child(2){
                background: url("./images/제품2.jpg") center/cover no-repeat;
            }
            
            &:nth-child(3){
                background: url("./images/제품3.jpg") center/cover no-repeat;
            }
        
            &:nth-child(4){
                background: url("./images/제품4.jpg") center/cover no-repeat;
            }
        }
    }       


   @include mobile(){
       display: block;
       width: 100%;
       transform: translateY(0);
       border-radius: 0;
       box-shadow: none;
       .sub_banner_top{
           flex: none;
       }
       .sub_banner_content{
            height: 100%;
            margin-top: 0.5rem;
                a{
                    height: 80%;
                }
       }
   }
}



// 제품 소개 
.product_desc{
    background-color: yellow;
    margin: 0 auto;
    width: 95%;
    margin-top: -3rem;
    
    .swiper_product{
        margin-top: 1rem;
        height: 100%;
        color: #2b292d;  
        font-size: 1rem;
        font-weight: bold;

        .swiper-wrapper {
            height: 100%;
            .swiper-slide {   
                display: flex;
                flex-direction: column;
                
                .product_img {

                    width: 100%;
                    background-size: auto;
                    background-position: left;
                }

                .product_info {
                    width: 100%;
                    background-color: #fff8f5;
                    padding: 1.5rem;
                    position: relative;
    
                
                    .info_dsc_img{
                    background-size: cover;
                    }

                    p{
                        margin-top:1rem;
                    }
                    button{
                        margin-top: 1rem;
                        width: 70px;
                        height: 30px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        background: url("./images/더보기.jpg") left/contain no-repeat ; 
                    }

                    .info_dec{
                        display: flex;
                        justify-content: center;
                        div{
                            width: 105px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            margin-right: 2rem;
                            text-align: center;
                            img{
                                padding: 5px 20px;                       
                            }

                            p{                            
                                width: 100%;
                                height: 50px;
                                margin-top: 1rem;
                                background-color: #ECECEC;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                border-radius: 4px;
                            }
                        }                    
                    }
                }

            }
        }

        .swiper-button-next, .swiper-button-prev{
            top: 30%;
        }
    }

    @include mobile(){

        margin-top: 0;
        width: 100%;
        height: calc((100vw/1.5) + 400px);

        .swiper_product {
            margin-top: 0;

            .swiper-wrapper {
                .swiper-slide {
                    .product_img {
                        // a
                        height: (100vw/1.5);
                    }

                    .product_info {
                        // @include flex_fixd_height(50%);
                        height: 400px;
                        max-height: 400px;
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 25%;
            }
        }
    }

    @include tablet(){
        height: calc( (80vw/1.5) + 550px);
        .swiper_product {
            .swiper-wrapper {
                .swiper-slide {

                    .product_img {
                        height: (80vw/1.5);
                    }

                    .product_info {
                        height: 550px;
                        max-height: 550px;

                        .info_dsc_img {
                            height: 60px;
                        }
                        p{
                            font-size: 24px;
                        }
                        .product_more{
                            height: 60px;
                        }
                        .info_dec{
                            height: 200px;
                            padding: 0.5rem 2rem;
                            margin-top: 1rem;                            
                            justify-content: space-between;
                            div {
                                margin: 0;
                                p {
                                    height: 70px;
                                    margin-top: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                top: 20%;
            }
        }

    }

    @include desktop(){
        height: 600px;
        .swiper_product {
            font-size: 0.8rem;
            .swiper-wrapper {
                .swiper-slide {
                    flex-direction: row;

                    .product_img {
                        @include flex_fixd_width(50%);
                       
                    }

                    .product_info {
                        @include flex_fixd_width(50%);

                        .info_dsc_img{
                            height: 60px;
                        }
                        .product_more{
                            height: 40px;
                        }
                        p{
                            font-size: 1.2rem;
                        }
                        .info_dec{
                            justify-content: space-between;
                            margin-top: 40px;
                            div{
                                margin-left: 0;
                                
                                p{
                                    font-size: 0.7rem;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-button-next, .swiper-button-prev{
                top: 50%;
            }
        }
    }
}



// 
