@import "./animate.scss";


$screen-mobile : 760px;
$screen-tablet : 1200px;
$screen-pc : 1600px;

$max-width : 1200px;

$navbar-mo-height : 70px;
$navbar-ta-height : 90px;
$navbar-dt-height : 110px;


@mixin mobile {
    @media (min-width : 0) and (max-width : $screen-mobile){
        @content;
    }
}

@mixin mobile_up{
    @media (min-width : $screen-mobile){
        @content;
    }   
}

@mixin tablet{
    @media (min-width : $screen-mobile) and (max-width : $screen-tablet){
        
        @content;
    }
}

@mixin desktop_down {
    @media (min-width : 0) and (max-width : $screen-tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-width : $screen-tablet) {
        
        @content;
    }
}

@mixin arrow {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: red;
    transform: rotate(-45deg);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // margin: 0 auto;
}
button , a{
    all: unset;
}

a,button{
    cursor: pointer;
    color: black;
}

.container{
    max-width: $max-width;
    margin: 0 auto;
    // background-color: pink;
}
// 네비바
.navbar{
    // 기본  
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 1000;
    height: $navbar-mo-height;
    background: white;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.48);

    .container {
        max-width: $max-width;
        height: 100%;
        display: flex;
        padding: 0px 10px;
        justify-content: space-between;
        .nav_brand{
            height: 100%;
            width: 110px;
            border-radius: 50%;
            overflow: hidden;
            a{
                display: block;
                background: url("./images/나미.jpg") center/cover no-repeat;
                height: 100%;
                width: auto;
            }
        }

        .nav_menu_items {
            display: none;

            &.active {
                display: flex;
                animation: ani_items_active 400ms;
            }

            .menu_item {
                list-style: none;
                margin-left: 20px;
            }

            .menu_about {
                .about_drop {
                    display: none;
                    list-style: none;
                    width: 100%;
                    height: 200px;
                    margin-left: -20px;
                    margin-top: 20px;
                    padding-left: 20px;
                    padding-top: 2px;
                    background-color: wheat;

                    flex-direction: column;
                    text-align: left;

                    overflow: hidden;

                    li {
                        
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }

            .nav_sns {
                display: none;
            }

        }

        .nav_toogle {
            display: block;
            margin: 20px;

            &.active {
                .bg_balck {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: black;
                    opacity: 0.8;
                    cursor: auto;
                }
            }
            i{
                font-size: 30px;
            }
        }

        .nav_footer {
            display: none;
        }

        .menu_button {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            // background-color: violet;
            font-size: 30px;
            text-align: center;
            line-height: 15px;
        }

    }
    
@include desktop_down() {
    .container {
        padding: 5px;
        .nav_brand{
            width: 60px;
        }
        .nav_menu_items {
            // 모바일 설정  
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: pink;
            opacity: 1;
            padding-top: 100px;
            flex-direction: column;

            font-size: 20px;

            .menu_item {
                margin-top: 10px;
            }

            .menu_about {
                .about_drop{
                    display: flex;
                    height: 0px;
                    padding-top: 0;
                }
                span {
                    @include arrow();
                }

                &[data-mb_ani='active'] {
                    span {
                        @include arrow();
                        transform: rotate(135deg);
                    }

                    .about_drop {
                        @include ani_hover_inc(180, 500ms);
                    }
                }
                &[data-mb_ani='close']{
                    .about_drop {
                        @include ani_out_inc(180, 500ms);
                    }
                }
            }

            .nav_footer {
                display: block;
                width: 100%;
                position: absolute;
                left: 10px;
                bottom: 10px;
                height: 100px;

                .nav_sns {
                    display: flex;
                    list-style: none;

                    li {
                        width: 40px;
                        height: 40px;
                        margin-left: 10px;
                        text-align: center;
                        font-size: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: transparent;
                        // border: 1px solid blue;

                        i {
                            transform: translateY(-10px);
                        }
                    }
                }

                .lang {
                    width: 100%;

                    select {
                        width: 90%;
                        height: 25px;
                        border: 2px solid black;
                    }
                }
            }
        }

        .menu_button {
            display: block;
        }
    }
}

@include mobile() {
    .container {
        .nav_menu_items {
            width: 300px;
        }

        .menu_about {
            .about_drop{
                width: 300px;
            }
            
        }
    }
}

@include tablet() {
    height: $navbar-ta-height;
    // background-color: green;

    // 네비
    .container {
        padding: 10px;
        .nav_brand{
            width: 70px;
        }

        .nav_menu_items {
            width: 400px;
            font-size: 24px;
        }

        .menu_about {
            .about_drop{
                width: 400px;
            }
            
        }
    }
}


@include desktop() {
    height: $navbar-dt-height;
    // background-color: gold;
    .container {
        .nav_toogle {
            display: none;
        }

        .nav_menu_items {
            display: flex;
            height: 100%;
            align-items: stretch;
            // justify-items: center;
            position: relative;            
            // height: 100%;
            font-size: 18px;
            .menu_item {
                display: block;
                margin: 0px 30px;
                padding: 40px 0px;
                // height: 100%;
                
                // height: 100%;
                &.menu_about{
                    .about_drop{
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        position: absolute;
                        top: 100px;
                        margin-top: 10px;
                        width: 200px;
                        height: 0px;
                        padding-top: 0;
                        overflow: hidden;
                        // padding: 0px;
                        background-color: white;
                        opacity: 0.9;

                      
                    }
                    span{
                        @include arrow();
                    }

                    &[data-dt_ani='over']  {
                        .about_drop{                       
                        // animation: ani_dt_menu_drop 500ms;                    
                        @include ani_hover_inc(200,500ms);
                        
                        }
                        span{
                            transform: rotate(135deg);
                        }
                    }
                    &[data-dt_ani="out"]{           
                        .about_drop{       
                        @include ani_out_inc(200,500ms);
                        }
                    }

                    

                    
                    
                }

  

            }        
        }
    }

} 

}


// 



.box{
    margin-top: $navbar-mo-height;
    width: 100%;
    height: 500px;
    background-color: yellow;

    @include tablet(){
        margin-top: $navbar-ta-height;
    }

    @include desktop(){
        margin-top: $navbar-dt-height;
        }
}


// 애니메이션

@keyframes ani_dt_menu_drop{
    0%{
        height: 0px;
    }
    100%{
        height: 200px;
    }
}

@keyframes ani_mb_menu_drop_open{
    0%{
        height: 0px;
    }
    100%{
        height: 200px;
    }
}

@keyframes ani_items_active{
    0%{
        transform:  translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}