@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, a {
  all: unset;
}

a, button {
  cursor: pointer;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  z-index: 1000;
  height: 70px;
  background: white;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.48);
}

.navbar .container {
  max-width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .container .nav_brand {
  height: 100%;
  width: 110px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar .container .nav_brand a {
  display: block;
  background: url("./images/나미.jpg") center/cover no-repeat;
  height: 100%;
  width: auto;
}

.navbar .container .nav_menu_items {
  display: none;
}

.navbar .container .nav_menu_items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: ani_items_active 400ms;
          animation: ani_items_active 400ms;
}

.navbar .container .nav_menu_items .menu_item {
  list-style: none;
  margin-left: 20px;
}

.navbar .container .nav_menu_items .menu_about .about_drop {
  display: none;
  list-style: none;
  width: 100%;
  height: 200px;
  margin-left: -20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 2px;
  background-color: wheat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  overflow: hidden;
}

.navbar .container .nav_menu_items .menu_about .about_drop li {
  margin-top: 10px;
  font-size: 16px;
}

.navbar .container .nav_menu_items .nav_sns {
  display: none;
}

.navbar .container .nav_toogle {
  display: block;
  margin: 20px;
}

.navbar .container .nav_toogle.active .bg_balck {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  cursor: auto;
}

.navbar .container .nav_toogle i {
  font-size: 30px;
}

.navbar .container .nav_footer {
  display: none;
}

.navbar .container .menu_button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
  line-height: 15px;
}

@media (min-width: 0) and (max-width: 1200px) {
  .navbar .container {
    padding: 5px;
  }
  .navbar .container .nav_brand {
    width: 60px;
  }
  .navbar .container .nav_menu_items {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: pink;
    opacity: 1;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
  }
  .navbar .container .nav_menu_items .menu_item {
    margin-top: 10px;
  }
  .navbar .container .nav_menu_items .menu_about .about_drop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0px;
    padding-top: 0;
  }
  .navbar .container .nav_menu_items .menu_about span {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: red;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .navbar .container .nav_menu_items .menu_about[data-mb_ani='active'] span {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: red;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navbar .container .nav_menu_items .menu_about[data-mb_ani='active'] .about_drop {
    -webkit-animation: box_hover_180 500ms;
            animation: box_hover_180 500ms;
    height: 180px;
  }
  @-webkit-keyframes box_hover_180 {
    0% {
      height: 0px;
    }
    100% {
      height: 180px;
    }
  }
  @keyframes box_hover_180 {
    0% {
      height: 0px;
    }
    100% {
      height: 180px;
    }
  }
  .navbar .container .nav_menu_items .menu_about[data-mb_ani='close'] .about_drop {
    -webkit-animation: box_dis_180 500ms;
            animation: box_dis_180 500ms;
    height: 0px;
  }
  @-webkit-keyframes box_dis_180 {
    0% {
      height: 180px;
    }
    100% {
      height: 0px;
    }
  }
  @keyframes box_dis_180 {
    0% {
      height: 180px;
    }
    100% {
      height: 0px;
    }
  }
  .navbar .container .nav_menu_items .nav_footer {
    display: block;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 100px;
  }
  .navbar .container .nav_menu_items .nav_footer .nav_sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .navbar .container .nav_menu_items .nav_footer .nav_sns li {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
  }
  .navbar .container .nav_menu_items .nav_footer .nav_sns li i {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .navbar .container .nav_menu_items .nav_footer .lang {
    width: 100%;
  }
  .navbar .container .nav_menu_items .nav_footer .lang select {
    width: 90%;
    height: 25px;
    border: 2px solid black;
  }
  .navbar .container .menu_button {
    display: block;
  }
}

@media (min-width: 0) and (max-width: 760px) {
  .navbar .container .nav_menu_items {
    width: 300px;
  }
  .navbar .container .menu_about .about_drop {
    width: 300px;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .navbar {
    height: 90px;
  }
  .navbar .container {
    padding: 10px;
  }
  .navbar .container .nav_brand {
    width: 70px;
  }
  .navbar .container .nav_menu_items {
    width: 400px;
    font-size: 24px;
  }
  .navbar .container .menu_about .about_drop {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    height: 110px;
  }
  .navbar .container .nav_toogle {
    display: none;
  }
  .navbar .container .nav_menu_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
    font-size: 18px;
  }
  .navbar .container .nav_menu_items .menu_item {
    display: block;
    margin: 0px 30px;
    padding: 40px 0px;
  }
  .navbar .container .nav_menu_items .menu_item.menu_about .about_drop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    position: absolute;
    top: 100px;
    margin-top: 10px;
    width: 200px;
    height: 0px;
    padding-top: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.9;
  }
  .navbar .container .nav_menu_items .menu_item.menu_about span {
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: red;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .navbar .container .nav_menu_items .menu_item.menu_about[data-dt_ani='over'] .about_drop {
    -webkit-animation: box_hover_200 500ms;
            animation: box_hover_200 500ms;
    height: 200px;
  }
  @-webkit-keyframes box_hover_200 {
    0% {
      height: 0px;
    }
    100% {
      height: 200px;
    }
  }
  @keyframes box_hover_200 {
    0% {
      height: 0px;
    }
    100% {
      height: 200px;
    }
  }
  .navbar .container .nav_menu_items .menu_item.menu_about[data-dt_ani='over'] span {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .navbar .container .nav_menu_items .menu_item.menu_about[data-dt_ani="out"] .about_drop {
    -webkit-animation: box_dis_200 500ms;
            animation: box_dis_200 500ms;
    height: 0px;
  }
  @-webkit-keyframes box_dis_200 {
    0% {
      height: 200px;
    }
    100% {
      height: 0px;
    }
  }
  @keyframes box_dis_200 {
    0% {
      height: 200px;
    }
    100% {
      height: 0px;
    }
  }
}

.box {
  margin-top: 70px;
  width: 100%;
  height: 500px;
  background-color: yellow;
}

@media (min-width: 760px) and (max-width: 1200px) {
  .box {
    margin-top: 90px;
  }
}

@media (min-width: 1200px) {
  .box {
    margin-top: 110px;
  }
}

@-webkit-keyframes ani_dt_menu_drop {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

@keyframes ani_dt_menu_drop {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

@-webkit-keyframes ani_mb_menu_drop_open {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

@keyframes ani_mb_menu_drop_open {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

@-webkit-keyframes ani_items_active {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes ani_items_active {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
