@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  text-align: center;
  font-weight: bold;
}

.warp {
  max-width: 1200px;
  margin: auto;
}

.public_title {
  color: #3f454b;
  position: relative;
  margin-bottom: 24px;
  text-align: left;
}

.public_title span {
  font-size: 18px;
  color: #3f454b;
  font-weight: 500;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  background-color: #fff;
  padding: 4px 8px 4px 0;
  z-index: 5;
  position: relative;
  vertical-align: top;
}

.public_title::after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  background-color: #585e64;
  margin-left: 3px;
  height: 2px;
  bottom: -3px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 153px;
  margin-bottom: 20px;
  padding: 30px 0px 20px 0px;
  z-index: 1000;
  font-family: 'Noto Sans KR', sans-serif;
}

.header .head {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .head .hadder_barnd {
  width: 243px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  margin: 0 24px 0 -10px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.header .head .hadder_barnd .brand_logo {
  width: 50px;
  height: 50px;
}

.header .head .hadder_barnd p {
  margin-left: 13px;
  word-break: keep-all;
  font-size: 18px;
  text-align: left;
}

.header .head .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.header .head .navbar a {
  padding: 14px 20px 36px;
  list-style: none;
  font-size: 16px;
}

.header .head .navbar a:last-child {
  padding-right: 0px;
}

.header .head .navbar a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .login_search {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .login_search a {
  border: solid 1px #ffffff;
  padding: 5px 12px;
  color: #ffffff;
  width: 138px;
  text-align: left;
  line-height: 16px;
  background-color: transparent;
}

.header .login_search form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: center;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  padding: 5px 12px;
  color: #ffffff;
}

.header .login_search form input {
  border: none;
  outline: none;
  background-color: transparent;
}

.header .login_search form input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 300px;
  font-size: 16px;
}

.header .login_search form input[type=button] {
  font-size: 14px;
  height: 100%;
  cursor: pointer;
}

.header.active, .header:hover {
  background-color: #ffffff;
}

.header.active .head .hadder_barnd p, .header:hover .head .hadder_barnd p {
  color: #004098;
}

.header.active .head .navbar a, .header:hover .head .navbar a {
  color: #585e64;
}

.header.active .login_search a,
.header.active .login_search form, .header:hover .login_search a,
.header:hover .login_search form {
  border: solid 1px #004098;
  padding: 5px 12px;
  color: #004098;
}

@media (max-width: 786px) {
  .header {
    height: 200px;
    padding-top: 5px;
  }
  .header .head {
    height: 80%;
    max-width: none;
  }
  .header .head .hadder_barnd {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.main {
  height: 1379px;
}

.main .swiper-container {
  position: relative;
}

.main .swiper-container .swiper-button-next, .main .swiper-container .swiper-button-prev {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  bottom: 500px;
  z-index: 20;
}

.main .swiper-container .swiper-button-next i, .main .swiper-container .swiper-button-prev i {
  font-size: 80px;
  color: #004098;
}

.main .swiper-container .swiper-button-next {
  right: 130px;
}

.main .swiper-container .swiper-button-prev {
  right: 530px;
}

.main .main_bg {
  position: relative;
  height: 1024px;
  background: url("./images/sparks-265850_1920.jpg") center/cover;
  z-index: 1;
}

.main .main_bg .main_box {
  position: absolute;
  width: 300px;
  height: 569px;
  right: 230px;
  bottom: 130px;
  padding: 95px 30px;
  text-align: left;
  background-color: #004098;
  color: #ffffff;
}

.main .main_bg .main_box .main_index {
  position: absolute;
  left: 25px;
  top: -100px;
  font-size: 120px;
  font-weight: bold;
}

.main .main_bg .main_box .main_title {
  font-size: 46px;
  word-break: keep-all;
}

.main .main_bg .main_box .main_sub {
  margin: 24px 0 66px 0;
  font-size: 18px;
  color: #585e64;
}

.main .main_bg .main_box .main_dsc {
  font-size: 15px;
  margin-bottom: 24px;
}

.main .main_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main_sub .sub_box {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 355px;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  color: #ffffff;
}

.main .main_sub .sub_box:nth-child(1) {
  background: url("./images/담장.jpg") center/cover;
}

.main .main_sub .sub_box:nth-child(1) .sub_warp {
  float: right;
  margin-right: 45px;
}

.main .main_sub .sub_box:nth-child(2) {
  background: url("./images/과수원.jpg") center/cover;
}

.main .main_sub .sub_box:nth-child(2) .sub_warp {
  margin-left: 45px;
}

.main .main_sub .sub_box .sub_warp {
  width: 500px;
  text-align: left;
  margin-top: 50px;
  padding-right: 50px;
}

.main .main_sub .sub_box .sub_warp .sub_sub {
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 45px;
}

.main .main_sub .sub_box .sub_warp .sub_dsc {
  font-size: 15px;
  margin-bottom: 20px;
}

.main .main_sub .sub_box .more {
  position: absolute;
  bottom: 50px;
}

.main .main_sub .sub_box .public_title span {
  background-color: transparent;
}

.main .main_sub .sub_box .public_title::after {
  width: 62%;
}

@media (max-width: 786px) {
  .main {
    height: 100%;
  }
  .main .main_sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_sub .sub_box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 100%;
  }
  .main .main_sub .sub_box:nth-child(1) .sub_warp {
    float: left;
    margin-left: 45px;
  }
  .main .main_sub .sub_box .more {
    height: 20px;
    right: 20px;
    top: 10px;
  }
}

.recent {
  margin: 60px auto;
}

.recent .recent_warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 60px;
}

.recent .recent_warp .recent_box {
  height: 454px;
  max-width: 400px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.recent .recent_warp .recent_box .re_img {
  display: block;
  width: 100%;
  height: 220px;
  background-color: black;
}

.recent .recent_warp .recent_box .text_warp {
  text-align: left;
  padding: 20px;
}

.recent .recent_warp .recent_box .text_warp .re_sub {
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recent .recent_warp .recent_box .text_warp .re_dsc {
  font-size: 15px;
  margin: 10px 0;
}

.recent .recent_warp .recent_box .more {
  font-size: 15px;
  color: palevioletred;
}

@media (max-width: 786px) {
  .recent .recent_warp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent .recent_warp .recent_box {
    max-width: none;
  }
}

.banner {
  width: 95%;
  height: 160px;
  background: url("./images/banner.jpg") no-repeat;
}

.menulink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 570px;
  margin: 60px auto 130px;
  color: #585e64;
}

.menulink .left_link {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 10px;
  overflow: hidden;
}

.menulink .left_link .left_title {
  width: 150px;
  height: 150px;
  background-color: pink;
}

.menulink .left_link .left_main {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("./images/가가.png") center/cover no-repeat;
  padding: 40px;
  text-align: left;
}

.menulink .left_link .left_main .left_dsc {
  display: block;
  list-style: none;
  position: absolute;
  left: 60px;
  bottom: 130px;
}

.menulink .left_link .left_main .more {
  position: absolute;
  left: 60px;
  bottom: 60px;
  color: #585e64;
}

.menulink .right_link {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  padding: 10px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menulink .right_link .news {
  padding-bottom: 30px;
  border-bottom: solid 2px #585e64;
}

.menulink .right_link .news .views {
  margin-left: 1.25em;
  text-align: left;
  font-size: 15px;
}

.menulink .right_link .news .views li {
  margin-bottom: 12px;
}

.menulink .right_link .news .views li span {
  float: right;
}

.menulink .right_link .schedule, .menulink .right_link .route {
  font-size: 15px;
  text-align: left;
  color: #585e64;
  padding-bottom: 30px;
  border-bottom: solid 2px #585e64;
}

.menulink .right_link .schedule span, .menulink .right_link .route span {
  font-weight: bold;
  color: black;
  margin-right: 15px;
}

.menulink .right_link .more {
  float: right;
  color: pink;
}

.menulink .right_link .map {
  width: 100%;
  background: url("./images/담장.jpg") center;
  background-position: right;
  padding: 22px 30px;
  text-align: left;
  color: #ffffff;
}

.menulink .right_link .map .map_title {
  font-size: 18px;
}

.menulink .right_link .map .map_sub {
  font-size: 15px;
  margin-top: 10px;
}

.menulink .right_link .map .map_sub span {
  display: block;
}

@media (max-width: 786px) {
  .menulink {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: 40px;
  }
  .menulink .left_link {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    height: 600px;
    margin-bottom: 20px;
    overflow: none;
  }
}

.footer {
  background-color: #eef1f4;
  height: 400px;
}

.footer .warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_child {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 60px;
  padding-bottom: 0px;
  text-align: left;
}

.footer .footer_brand {
  background: blanchedalmond;
  width: 300px;
  height: 50px;
}

.footer .footer_menu {
  text-align: left;
  width: 100%;
  height: 22px;
  font-size: 10px;
  margin: 40px 0;
}

.footer .footer_menu a {
  color: black;
}

.footer .footer_menu a:nth-child(1) {
  padding-right: 20px;
  border-right: solid 1px black;
}

.footer .footer_dsc {
  text-align: left;
  font-size: 15px;
}

.footer .emiall {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 12px;
}

.footer .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer .sns a {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.footer .sns a i {
  font-size: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.footer .sns a i[alt=유튜브] {
  color: red;
}

.footer .sns a i[alt=페이스북] {
  color: blue;
}

.footer .sns a i[alt=블로그] {
  color: green;
}

.footer .subform {
  margin-top: 10px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .subform input {
  height: 100%;
  margin-right: 5px;
  padding: 6px 12px;
}

.footer .subform input[name=name] {
  width: 100px;
}

.footer .subform input[type=submit] {
  border-radius: 4px;
  background-color: #161515;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.footer input[type=checkbox] {
  margin-top: 10px;
}

@media (max-width: 786px) {
  .footer {
    height: 100%;
  }
  .footer .warp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .emiall {
    font-size: 13px;
  }
}
