// size
$headersize : 20px;
$main_background : 1024px;
$main_sub_backgoround : 355px;
$max_width : 1180px;
//  padding
$hadder-padding : 30px 0px 20px 0px;
$hadder_nav-padding : 14px 20px 36px;
$hadder_logo-padding : 15px 10px;
$hadder_user_menu-padding : 5px 16px;
$hadder_input-padding : 5px 12px;


// color
$color-white : #ffffff;
$color-blue : #004098;
$color-gray :#585e64;
$color-black : #3f454b;
$color-footer : #eef1f4;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-white;
}

h1 {}

h2 {}

p {}

body {
    text-align: center;

    font-weight: bold;
}

// font-family: 'Noto Sans KR', sans-serif;
.warp {
    max-width: $max_width;
    margin: auto;
}

.test {
    width: 120px;
    word-break: keep-all;
}

.public_title {
    color: $color-black;
    position: relative;
    margin-bottom: 24px;
    text-align: left;
    &::after {
        width: 100%; 
        // width JS 값 수정 하면 될거같음
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        background-color: $color-gray;
        margin-left: 3px;
        height: 2px;
        transform: translateY(-4px);
    }
}



// 헤더
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 153px;
    margin-bottom: 20px;
    padding: $hadder-padding;
    z-index: 1000;
    font-family: 'Noto Sans KR', sans-serif;

    @mixin search_input-style($color) {
        border: solid 1px $color;
        padding: 5px 12px;
        color: $color;

    }

    .head {
        height: 75%;
        display: flex;
        justify-content: space-between;

        .hadder_barnd {
            width: 243px;
            height: 50px;
            display: flex;
            padding: $hadder_logo-padding;
            margin: 0 24px 0 -10px;
            transform: translateY(-15px);

            .brand_logo {
                width: 50px;
                height: 50px;
            }

            p {
                margin-left: 13px;
                word-break: keep-all;
                font-size: 18px;
                text-align: left;
            }

        }

        .navbar {
            display: flex;
            float: right;

            & a {
                padding: $hadder_nav-padding;
                list-style: none;
                font-size: 16px;

                &:last-child {
                    padding-right: 0px;
                }
            }
        }

        &.active {
            .head {
                p {
                    color: $color-blue;
                }
            }
        }
    }

    .login_search {
        height: 32px;
        display: flex;


        & a {
            @include search_input-style($color-white);
            width: 138px;
            text-align: left;
            line-height: 16px;
            background-color: transparent;
        }

        & form {
            flex: 1;
            display: flex;
            justify-content: space-between;
            background-color: $color-white;
            @include search_input-style($color-white);

            & input {
                border: none;
                outline: none;
                background-color: transparent;
            }

            & input[type=button] {
                font-size: 14px;
                cursor: pointer;
            }

            & input[type=search] {
                font-size: 16px;
            }
        }


    }

    &.active {
        background-color: $color-white;

        .head {
            .hadder_barnd {
                p {
                    color: $color-blue;
                }
            }

            .navbar {
                a {
                    color: $color-gray;
                }
            }
        }

        .login_search {

            & a,
            form {
                @include search_input-style($color-blue);
            }
        }
    }
}

// 메인
.main {
    height: (1024px + 355px);
    // 메인 박스
    .main_bg {
        position: relative;
        height: 1024px;
        background: url("./images/sparks-265850_1920.jpg") center/cover;
        z-index: 1;

        .main_box {
            position: absolute;
            width: 300px;
            height: 569px;
            right: 230px;
            bottom: 130px;
            padding: 95px 30px;
            text-align: left;
            background-color: $color-blue;
            color: $color-white;

            .main_index {
                position: absolute;
                left: 25px;
                top: -100px;
                font-size: 120px;
                font-weight: bold;

            }

            .main_title {
                font-size: 46px;

                word-break: keep-all;
            }

            .main_sub {
                margin: 24px 0 66px 0;
                font-size: 18px;
                color: $color-gray;
            }

            .main_dsc {
                font-size: 15px;
                margin-bottom: 24px;
            }
            .more{
                
                
            }
        }
    }
    // 서브 박스
    .main_sub {
        display: flex;
        .sub_box {
            flex: 50%;
            height: 355px;
            position: relative;
            font-family: 'Noto Sans KR', sans-serif;
            color: $color-white;
            &:nth-child(1) {
                background-color: rgb(123, 33, 207);
                .sub_warp {
                    float: right;
                    margin-right: 45px;
                }
            }
            &:nth-child(2) {
                background-color: rgb(92, 104, 37);
                .sub_warp {
                    margin-left: 45px;
                }
            }

            .sub_warp {
                width: 500px;
                text-align: left;
                margin-top: 50px;
                padding-right: 50px;
                .sub_sub {
                    font-size: 30px;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: 45px;

                }
                .sub_dsc{
                    font-size: 15px;
                    margin-bottom: 20px;
                }
               
            }
            .more{
                position: absolute;
                bottom: 50px;
            }
        }

    }
}



// 중간

.recent{
    margin: 60px auto;
    
    .recent_warp{
        display: flex;
        justify-content: space-around;
        margin: 0 60px;        
       .recent_box{
            height: 454px;
            max-width: 400px;
            padding: 10px;
            flex: 1;
            .re_img{
                display: block;
                width: 100%;
                height: 220px;
                background-color: black;
            }
            .text_warp{
                text-align: left;
                padding: 20px;
                .re_sub{
                    font-size: 24px;                   
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .re_dsc{
                    font-size: 15px;
                    margin: 10px 0;
                }
            }
            
            .more{
                font-size: 15px;
                color: palevioletred;
            }
        }
}
}


// 베너

.banner{
    width: 100%;
    height: 160px;
    background: url("./images/banner.jpg") no-repeat;
}


// 게시판

.menulink{
    display: flex;
    height: 570px;
    margin: 60px auto 130px;

    // 왼쪽게시판
    .left_link{
        flex: 50%;
        padding: 10px;
        overflow: hidden;
        .left_title{
            width: 150px;
            height: 150px;
            background-color: pink;
        }
        .left_main{
            position: relative;
            width: 100%;
            height: 100%;
            background-color: $color-gray;
            padding: 40px;   
            text-align: left;
            .left_dsc{
                display: block;
                list-style: none;
                position: absolute;
                left: 60px;
                bottom: 130px;                
            }
            .more{
                position: absolute;
                left: 60px;
                bottom: 60px;
            }
        }
    }

    // 오른쪽게시판
    .right_link{
        flex: 50%;
        height: 100%;
        padding: 10px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .news{
            padding-bottom: 30px;
            border-bottom: solid 2px $color-gray;
            .views{
                margin-left: 1.25em;
                text-align: left;
                font-size: 15px;
                li{
                    margin-bottom: 12px;
                    span{
                        float: right;
                    }
                }
            }            
        }
        .schedule,.route{
            font-size: 15px;
            text-align: left;
            color: $color-gray;
            padding-bottom: 30px;
            border-bottom: solid 2px $color-gray;
            span{
                font-weight: bold;
                color: black;
                margin-right: 15px;
            }         
        }
        .more{
            float: right;
            color: pink;
        }
        .map{
            width: 100%;
            background-color: palegoldenrod;
            padding: 22px 30px;
            text-align: left;
            color: $color-gray;
            .map_title{
                font-size: 18px;
                
            }
            .map_sub{
                font-size: 15px;
                margin-top: 10px;
                span{
                    display: block;
                }
            }

        }
    }
}


// 푸터

.footer{
    background-color: $color-footer;
    height: 400px;
    .warp{
        display: flex;
    }
    
    .footer_child{
        flex: 50%;
        padding: 60px;
        padding-bottom: 0px;
        text-align: left;
    }

    .footer_brand{
        background: blanchedalmond;
        width: 300px;
        height: 50px;
    }
    .footer_menu{
        text-align: left;
        width: 100%;
        height: 22px;
        font-size: 10px;
        margin: 40px 0;
        a{
            color: black;

            &:nth-child(1){
                padding-right: 20px;
                border-right: solid 1px black;
            }
        }
        
    }
    .footer_dsc{
        text-align: left;
        font-size: 15px;
    }
    .emiall{
        margin-top: 80px;
        font-size: 15px;
    }
    .sns{
        display: flex;
        margin-bottom: 40px;
        .logo{ 
        display: block;
        width: 50px;
        height: 50px;
        border: solid 1px black;
        margin-right: 10px;
        }
    }
    .subform{
        margin-top: 10px;
        height: 34px;
        display: flex;
        input{
            height: 100%;
            margin-right: 5px;
            padding: 6px 12px;
        }
        input[name=name]{
            width: 100px;
        }
        input[type=submit]{
            border-radius: 4px;
            background-color: rgb(22, 21, 21);
            color: $color-white;
            cursor: pointer;
            outline: none;
        }
    }
    input[type=checkbox]{
        margin-top: 10px;
    }
}

