* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  text-align: center;
  background-color: green;
  font-weight: bold;
}

.warp {
  max-width: 1180px;
  margin: auto;
}

.test {
  width: 120px;
  word-break: keep-all;
}

.public_title {
  color: #3f454b;
  position: relative;
  margin-bottom: 24px;
  text-align: left;
}

.public_title::after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  background-color: #585e64;
  margin-left: 3px;
  height: 2px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 153px;
  margin-bottom: 20px;
  padding: 30px 0px 20px 0px;
  z-index: 1000;
  font-family: 'Noto Sans KR', sans-serif;
}

.header .head {
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .head .hadder_barnd {
  width: 243px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  margin: 0 24px 0 -10px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.header .head .hadder_barnd .brand_logo {
  width: 50px;
  height: 50px;
}

.header .head .hadder_barnd p {
  margin-left: 13px;
  word-break: keep-all;
  font-size: 18px;
  text-align: left;
}

.header .head .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.header .head .navbar a {
  padding: 14px 20px 36px;
  list-style: none;
  font-size: 16px;
}

.header .head .navbar a:last-child {
  padding-right: 0px;
}

.header .head.active .head p {
  color: #004098;
}

.header .login_search {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .login_search a {
  border: solid 1px #ffffff;
  padding: 5px 12px;
  color: #ffffff;
  width: 138px;
  text-align: left;
  line-height: 16px;
  background-color: transparent;
}

.header .login_search form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  padding: 5px 12px;
  color: #ffffff;
}

.header .login_search form input {
  border: none;
  outline: none;
  background-color: transparent;
}

.header .login_search form input[type=button] {
  font-size: 14px;
  cursor: pointer;
}

.header .login_search form input[type=search] {
  font-size: 16px;
}

.header.active {
  background-color: #ffffff;
}

.header.active .head .hadder_barnd p {
  color: #004098;
}

.header.active .head .navbar a {
  color: #585e64;
}

.header.active .login_search a,
.header.active .login_search form {
  border: solid 1px #004098;
  padding: 5px 12px;
  color: #004098;
}

.main {
  height: 1379px;
}

.main .main_bg {
  position: relative;
  height: 1024px;
  background: url("./images/sparks-265850_1920.jpg") center/cover;
  z-index: 1;
}

.main .main_bg .main_box {
  position: absolute;
  width: 300px;
  height: 569px;
  right: 230px;
  bottom: 130px;
  padding: 95px 30px;
  text-align: left;
  background-color: #004098;
  color: #ffffff;
}

.main .main_bg .main_box .main_index {
  position: absolute;
  left: 25px;
  top: -100px;
  font-size: 120px;
  font-weight: bold;
}

.main .main_bg .main_box .main_title {
  font-size: 46px;
  word-break: keep-all;
}

.main .main_bg .main_box .main_sub {
  margin: 24px 0 66px 0;
  font-size: 18px;
  color: #585e64;
}

.main .main_bg .main_box .main_dsc {
  font-size: 15px;
  margin-bottom: 24px;
}

.main .main_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main_sub .sub_box {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 355px;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  color: #ffffff;
}

.main .main_sub .sub_box:nth-child(1) {
  background-color: #7b21cf;
}

.main .main_sub .sub_box:nth-child(1) .sub_warp {
  float: right;
  margin-right: 45px;
}

.main .main_sub .sub_box:nth-child(2) {
  background-color: #5c6825;
}

.main .main_sub .sub_box:nth-child(2) .sub_warp {
  margin-left: 45px;
}

.main .main_sub .sub_box .sub_warp {
  width: 500px;
  text-align: left;
  margin-top: 50px;
  padding-right: 50px;
}

.main .main_sub .sub_box .sub_warp .sub_sub {
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 45px;
}

.main .main_sub .sub_box .sub_warp .sub_dsc {
  font-size: 15px;
  margin-bottom: 20px;
}

.main .main_sub .sub_box .more {
  position: absolute;
  bottom: 50px;
}

.recent {
  margin: 60px auto;
}

.recent .recent_warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 60px;
}

.recent .recent_warp .recent_box {
  height: 454px;
  max-width: 400px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.recent .recent_warp .recent_box .re_img {
  display: block;
  width: 100%;
  height: 220px;
  background-color: black;
}

.recent .recent_warp .recent_box .text_warp {
  text-align: left;
  padding: 20px;
}

.recent .recent_warp .recent_box .text_warp .re_sub {
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recent .recent_warp .recent_box .text_warp .re_dsc {
  font-size: 15px;
  margin: 10px 0;
}

.recent .recent_warp .recent_box .more {
  font-size: 15px;
  color: palevioletred;
}

.banner {
  width: 100%;
  height: 160px;
  background: url("./images/banner.jpg") no-repeat;
}

.menulink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 570px;
  margin: 60px auto 130px;
}

.menulink .left_link {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 10px;
  overflow: hidden;
}

.menulink .left_link .left_title {
  width: 150px;
  height: 150px;
  background-color: pink;
}

.menulink .left_link .left_main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #585e64;
  padding: 40px;
  text-align: left;
}

.menulink .left_link .left_main .left_dsc {
  display: block;
  list-style: none;
  position: absolute;
  left: 60px;
  bottom: 130px;
}

.menulink .left_link .left_main .more {
  position: absolute;
  left: 60px;
  bottom: 60px;
}

.menulink .right_link {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  padding: 10px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menulink .right_link .news {
  padding-bottom: 30px;
  border-bottom: solid 2px #585e64;
}

.menulink .right_link .news .views {
  margin-left: 1.25em;
  text-align: left;
  font-size: 15px;
}

.menulink .right_link .news .views li {
  margin-bottom: 12px;
}

.menulink .right_link .news .views li span {
  float: right;
}

.menulink .right_link .schedule, .menulink .right_link .route {
  font-size: 15px;
  text-align: left;
  color: #585e64;
  padding-bottom: 30px;
  border-bottom: solid 2px #585e64;
}

.menulink .right_link .schedule span, .menulink .right_link .route span {
  font-weight: bold;
  color: black;
  margin-right: 15px;
}

.menulink .right_link .more {
  float: right;
  color: pink;
}

.menulink .right_link .map {
  width: 100%;
  background-color: palegoldenrod;
  padding: 22px 30px;
  text-align: left;
  color: #585e64;
}

.menulink .right_link .map .map_title {
  font-size: 18px;
}

.menulink .right_link .map .map_sub {
  font-size: 15px;
  margin-top: 10px;
}

.menulink .right_link .map .map_sub span {
  display: block;
}
